@media screen and (min-width: 55rem) {

    * {
        padding: 0;
        margin: 0;
        font-family: var(--primaryFont);
    }

    :root {
        --primaryFont: 'Inter', Helvetica, sans-serif;
        --backgroundColor: #e4f4ff70;
        --primaryColor: #0067C8;
        --secondaryColor: #000000;
        --tertiaryColor: #D9D9D9;
    }

    /*--- I used the h1 styling below to make sure all the h1 headings has a uniform font-weight --*/
    h1 {
        font-weight: 800;
    }

    .container {
        display: none;
    }

    header {
        padding: 20px 0 30px;
        box-shadow: 0 4px 4px rgba(190, 183, 183, 0.452);
        background-color: white;
    }

    .headerItems {
        position: relative;
        left: 35%;
        display: flex;
        width: 55%;
        justify-content: space-between;
        align-items: center;
    }

    .headerItems>p {
        align-content: baseline;
    }

    .headerItems>p:last-child {
        font-size: 0.85rem;
        color: var(--primaryColor);
        padding: 5px 10px;
        border: 1.5px solid var(--primaryColor);
        border-radius: 8px;

    }

    .headerItems>p:last-child>img {
        width: 20px;
    }

    .headerItems>p:last-child>span {
        position: relative;
        bottom: 5px;
        width: 20px;
        margin: auto 0;
        padding: 0 3px 0 12px;
    }

    .headerItems>p>a {
        font-size: 0.85rem;
        text-decoration: none;
        color: var(--primaryColor);
    }

    /*------------- Hero Image Styling --------------*/
    .heroImage {
        position: relative;
        width: 85%;
        margin: 0 auto;
        margin-bottom: 14rem;
    }

    .heroImage img {
        margin: 1rem auto;
        border-radius: 45px;
        height: 490px;
        filter: brightness(120%);
    }

    .heroImage>.herotext-container {
        position: relative;
        margin: 2rem auto;
        border-radius: 45px;
        background-color: rgba(0, 0, 0, 0.267);
        height: 490px
    }

    .heroText {
        width: 48%;
        position: absolute;
        top: 50px;
        padding-top: 60px;
        backdrop-filter: blur(6px);
        background-color: rgba(241, 236, 236, 0.247);
    }

    .heroText>.bolder {
        width: 100%;
        font-size: 2.2rem;
        line-height: 3.2rem;
    }

    .heroText>p {
        width: 80%;
    }


    .hero-image-icons {
        position: absolute;
        bottom: -130px;
        display: flex;
        justify-content: space-evenly;
        width: 85%;
        margin: 2rem 7.5% 0;
        padding: 3rem 0;
        backdrop-filter: blur(6px);
        background-color: rgba(255, 255, 255, 0.699);
        border-radius: 40px;
        box-shadow: 0 4px 8px rgba(128, 128, 128, 0.514);
    }

    .hero-image-icons>div {
        width: 120px;
        justify-content: center;
        align-items: center;
    }

    .hero-image-icons>div>img {
        position: relative;
        top: 0;
        width: 80%;
        height: 90px;
        margin: 0 10%;
        background-color: transparent;
        border-radius: 30px;
    }

    .hero-image-icons>.hero-icon-div>p {
        position: relative;
        top: 7px;
        font-size: 0.8rem;
        font-weight: 700;
        margin: 0;
        text-align: center;
    }

    .sliderSection {
        width: 80%;
        margin: 0 auto;
    }

    #actualSlider {
        width: 100%;
        height: fit-content;
    }


    .sliderSection>.sliderIcons p {
        font-size: 20px;
        font-weight: 900;
        position: absolute;
        top: 45%;
        right: -2%;
        width: fit-content;
        padding: 10px 13px 10px 15px;
        background-color: white;
    }


    .sliderSection>.sliderIcons p:first-child {
        position: absolute;
        left: -2%;
        padding: 10px 15px 10px 13px;
    }

    #actualSlider>p {
        font-size: 1.6rem;
        padding: 0 50px;
        line-height: 2.5rem;
        background-image: linear-gradient(to right, #73a4d11a, white);
    }


    .sliderWayCircles {
        margin: 2rem auto 0;
    }

    .sliderWayCircles>p {
        margin: 0 5px;
        padding: 6px 8px;
        background-color: #a3a0a0;
        ;
    }

    .sliderWayCircles>p.active {
        padding: 6px 12px;
    }

    /*--------------- Our Services Styling --------------*/


    #our-services {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 84%;
        margin: 0 auto;
    }

    #our-services h1 {
        font-size: 2rem;
        grid-column: 1 / 4;
        padding-top: 2rem;
    }

    #our-services div {
        width: 85%;
        margin: 40px auto;
    }


    #our-services h2 {
        font-size: 0.8rem;
    }


    #our-services p {
        height: 120px;
    }


    /*--------------- About Us Styling --------------*/

    #about-us>h1 {
        font-size: 2rem;
        padding-top: 2rem;
    }

    #about-us>div {
        display: grid;
        grid-template-columns: 60% 40%;
        gap: 20px 10px;
    }

    #about-us>div>div:first-child {
        margin-bottom: 0;
        grid-row: 1 / 4;
        width: 80%;
        height: 400px;
    }

    #about-us>div>div:first-child>img {
        height: 400px;
    }

    #about-us>div>p {
        padding: 0;
        margin: 0;
        align-self: center;
    }

    #about-us>div>p.increasePadding {
        padding-top: 2rem
    }

    #about-us>div>div:last-child {
        grid-column: 1 / 3;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 50px auto 80px;
    }

    #about-us>div>div:last-child>div {
        width: 80%;
    }


    #about-us>div>div:last-child>div>p {
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.3rem;
    }


    #about-us .cleaningTypesContainer>div {
        margin: 0 auto;
    }

    #about-us .cleaningTypesContainer>div>img {
        width: 110px;
        height: 110px;
        margin: 1rem auto;
    }

    #about-us .cleaningTypesContainer>div>p.title {
        font-size: 1rem;
        width: 80%;
    }

    /*--------------- Features Section Styling --------------*/

    #features>img {
        height: 340px;
    }

    #features>div {
        height: 340px;
        padding: 0 40px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        backdrop-filter: blur(5px);
    }

    #features .featuresHeading {
        font-size: 2rem;
        padding-top: 10px;
        grid-column: 1 / 5;
    }

    #features>div>div {
        margin-top: 40px;
        width: 60%;
    }

    #features>div>div>img {
        width: 70px;
    }

    #features>div>div>img.increaseSize {
        width: 110px;
    }


    #features>div>div>p {
        font-size: 1.1rem;
        font-weight: 600;
    }

    /*--------------- Fumigation and Deratting Section Styling --------------*/

    #fumigationAndRatting h1 {
        font-size: 2rem;
    }

    #fumigationAndRatting>div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 45px;
    }

    #fumigationAndRatting>div>div {
        margin-top: 0;
    }


    #fumigationAndRatting div>div>img:first-child {
        position: absolute;
        height: 190px;
        border-bottom-right-radius: 45%;
        box-shadow: 3px 0 10px 2px rgba(128, 128, 128, 0.678);
        transform: translateY(-40px);
    }

    #fumigationAndRatting div>div>img {
        height: 290px;
    }

    #fumigationAndRatting div>div>p {
        font-weight: 600;

        line-height: 1.2rem;
    }

    /*-------------- FAQs section styling -------------*/

    .FAQs {
        width: 85%;
        display: grid;
        grid-template-columns: 40% 60%;
        margin: 0 auto;
    }

    .FAQs {

        h1,
        hr,
        p {
            grid-column: 1 / 3;
        }
    }

    .FAQs h1 {
        font-size: 2rem;
        margin-bottom: 1.1rem;
    }

    .FAQs .liner {
        margin-top: 0;
    }

    .FAQs>p {
        font-size: 0.8rem;
        font-weight: 600;
    }

    .FAQs>ul {
        width: 100%;
        padding: 0.4rem 0 0 2rem;
        margin-top: 3.5rem;
    }

    .FAQs>ul>li {
        font-size: 0.9rem;
        margin-bottom: 1rem;
    }

    #frequent-asked-questions {
        margin-top: 1.5rem;
    }

    #frequent-asked-questions>div {
        padding: 0.4rem 10px;
        margin: 1rem 0;
    }


    #frequent-asked-questions>div>div:first-child>p {
        font-size: 0.8rem;
    }

    /*----------------- Footer Styling ------------------*/

    footer {
        padding-top: 3rem;
    }

    .footerContainer {
        width: 90%;
        display: grid;
        grid-template-columns: 1.5fr 1.5fr 1fr;
        margin: 0 auto 50px;
    }

    .footerContainer>.liner {
        display: none;
    }

    .footerContainer>.addLeftBorder {
        border-right: 2px solid #0067c88c;
    }

    .footerContainer>div {
        padding-bottom: 2.5rem;
    }

    .footerContainer>div>p {
        width: 75%;
        margin: 0 auto;
        font-size: 0.78rem;
        font-weight: 500;
        line-height: 1.7rem;
        text-align: left;
    }

    .footerContainer>div>.headingInFooter {
        font-size: 0.87rem;
        font-weight: 800;
    }

}