@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: var(--primaryFont);
}

:root {
    --primaryFont : 'Inter', Helvetica, sans-serif;
    --backgroundColor: #e4f4ff70;
    --primaryColor: #0067C8;
    --secondaryColor: #000000;
    --tertiaryColor: #D9D9D9;
}


/*---------  the menu icon styling  --------*/

header {
    text-align: right;
    padding: 1rem 2rem 1rem 1rem;
    box-shadow: 0 3px 3px 3px var(--tertiaryColor);
}

.container {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 45px;
    height: 3.5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

/*---------  the Hero Image styling  --------*/

.heroImage {
    position: relative;
    padding: 25px auto;

}

.heroImage img {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 29rem;
    filter: brightness(0%);
    filter: saturate(150%);
    background-image: linear-gradient(black, black);
    z-index: -5;
}
.heroImage .herotext-container {
    margin-top: 1rem;
    position: relative;
    width: 100%;
    height: 29rem;
    background-color: rgba(0, 0, 0, 0.253);
    background-image: rgb(118, 156, 156);
}
.heroText {
    height: fit-content;
    background-color: rgba(128, 128, 128, 0.247);
    margin-left: 22px;
    padding: 1.5rem 1.5rem 1.5rem 0.8rem;
    position: absolute;
    bottom: 2rem;
    width: 85%;
    color: white;
    backdrop-filter: blur(8px);
    border-radius: 0 3rem 0 0;
    box-sizing: border-box;
}

.heroImage .bolder {
    font-size: 19px;
    font-style: initial;
    font-weight: 800;
    line-height: 1.9rem;
}

.heroImage p {
    font-size: 13px;
    font-weight: 200;
    line-height: 2;
}

/*------- slider section styling --------*/
.sliderSection {
    position: relative;
}
#actualSlider {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 4rem auto 1rem;
}

#actualSlider > img {
    width: 100%;
    height: 100%;
}

#actualSlider > p {
    font-size: 0.8rem;
    line-height: 1.7rem;
    padding: 15px 10px;
    background-image: linear-gradient( to right, #6f9cc733, white);
}

.sliderSection> .sliderIcons p {
    font-size: 15px;
    font-weight: 900;
    position: absolute;
    top: 45%;
    right: 3%;
    width: fit-content;
    padding: 3px 7px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 3px 3px 3px grey;
}

.sliderIcons > p.hide {
    display: none;
}

.sliderSection> .sliderIcons p:first-child {
    font-size: 15px;
    font-weight: 900;
    position: absolute;
    left: 3%;
}

.sliderWayCircles {
    margin: 0 auto 2rem;
    width: fit-content;
    display: flex;
    justify-content: space-evenly;
}

.sliderWayCircles > p {
    margin: 0 3px;
    padding: 4px;
    border-radius: 50%;
    background-color: var(--tertiaryColor);
}

.sliderWayCircles > p.active {
    padding: 4px 8px;
    border-radius: 35%;
    background-color: var(--primaryColor);
}

/*------- Our Services Styling -------*/

#our-services {
    h1, h2, p, span {
        text-align: center;
    }
}

#our-services h1 {
    font-size: 2rem;
    margin: 5rem 0 3rem;
}

#our-services div {
    width: 85%;
    margin: 80px auto;
    background-image: linear-gradient(var(--backgroundColor), var(--backgroundColor), var(--backgroundColor), white);
}

#our-services div > img  {
    width: 100%;
    height: 13rem;
}

#our-services h2 {
    font-size: 0.9rem;
    margin: 1.9rem 0 0;
}

#our-services p {
    font-size: 0.87rem;
    font-weight: 400;
    line-height: 1.2rem;
    width: 85%;
    margin: 1.7rem auto 2rem;
}

#our-services span {
    font-size: 0.9rem;
    display: block;
    width: fit-content;
    color: white;
    background-color: var(--primaryColor);
    margin: 0 auto;
    padding: 12px 40px;
    border-radius: 10px;
}

/*---------------- About Us Styling -------------------*/

#about-us h1 {
    text-align: center;
    margin: 8rem auto 3rem;
}

#about-us > div {
    width: 85%;
    margin: 0 auto;
}

#about-us > div > div {
    width: 65%;
    height: 250px;
    margin: 0 auto 5rem;
    border: 5px solid var(--primaryColor);
    border-radius: 0 20% 0 0;
}

#about-us > div > div > img {
    width: 105%;
    height: 255px;
    border-radius: 0 20% 0 0;
    transform: translate(1rem, 1rem);
}

#about-us > div > p {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin-bottom: 30px;
}

#about-us .cleaningTypesContainer {
    border: 0;
    border-radius: 0;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#about-us .cleaningTypesContainer > div {
    width: 40%;
}
#about-us .cleaningTypesContainer > div > .title {
    width: 100%;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--primaryColor);
    line-height: 1.37rem;
    margin-top: 0;
}

#about-us .cleaningTypesContainer > div > img {
    width: 80%;
    margin-top: 2rem;
}

#about-us .cleaningTypesContainer > div > p {
    width: 90%;
    font-size: 0.65rem;
    font-weight: 200;
    line-height: 1.1rem;
    margin-top: 1rem;
}

/*------------ features Div Styling ------------*/

#features {
    position: relative;
    width: 100%;
}

#features > img {
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

#features > div {
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.411);
}

#features > div > div { 
    width: 40%;
    color: white;
    font-size: 0.85rem;
    font-weight: 300;
    text-align: center;
    padding: 20px 0;
    margin: 20px 0;
}

#features > div > div > img {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
}

#features > div > div > img.increaseSize{
    margin-top: -30px;
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
}